global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "heartbeat_exporter"
    static_configs:
      - targets: ["host.docker.internal:9531"]

rule_files:
  - "rules/*.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]
