name: Deploy to Mac

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy Heartbeat
        run: |
          cd /Users/sergeiiakimov/Documents/Heartbeat
          ./deploy.sh
